<a href="https://colab.research.google.com/github/bellanara168/logica-programacao/blob/main/meuprimeiroalgoritmo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Documentação
Operadores Aritméticos

In [ ]:
# Adição
10 + 2

12

In [ ]:
# Subtração
10-2

8

In [ ]:
# Multiplicação
10*2

20

In [ ]:
# Divisão
10/2

5.0

In [ ]:
# Divisão inteira
10//2

5

In [ ]:
#Resto da divisão
10 % 2

0

In [ ]:
# Potenciação
10**2

100

Operadores relacionais

In [ ]:
# Menor
10 < 2

False

In [ ]:
# Menor ou igual
10 <= 2

False

In [ ]:
# Maior
10 > 2

True

In [ ]:
# Maior ou igual
10 >= 2

True

In [ ]:
# Igual
7 == 7

True

In [ ]:
# Diferente
7 != 7

False

Operadores Lógicos



*   And
*   Or
* Not

Tabela Verdade

And

In [ ]:
print (10 > 2 and 4 < 6)      # V and V - V
print (10 > 2 and 4 > 6)      # V and F - F
print (10 < 2 and 4 < 6)      # V and F - F
print (10 < 2 and 4 > 6)      # F and F - F

True
False
False
False

Or

In [ ]:
print (10 > 2 or 4 < 6)       # V or V - V
print (10 > 2 or 4 > 6)       # V or F - F
print (10 < 2 or 4 < 6)       # F or V - V
print (10 < 2 or 4 < 6)       # F or F - F

True
True
True
True

Not

In [ ]:
not 10 > 2       # V - F

False

In [ ]:
not 10 > 2       # F - V

False

# Variáveis
Variáveis estão alocadas em espaços da memória

In [ ]:
# Nome da variável é "x" que armazena o valor 10 em um espaço da memória
x = 10
print (x) # Utilizar a referência no nome atribuído

10

In [ ]:
print("Conhecendo o comando print")

x = 8
print (x)

Conhecendo o comando print
8

In [ ]:
y = 10
soma = x + y
print (soma)

18

In [ ]:
nome = "isabella nara"
print (nome)

isabella nara

Concatenação

In [ ]:
x = 5
print ('O valor de x é', x)

O valor de x é 5

In [ ]:
print ('O valor de x é', x, 'e o dobro é', x * 2)

O valor de x é 5 e o dobro é 10

In [ ]:
print ('Eu,', nome, 'tirei', x, 'na prova de Phyton')

Eu, isabella nara tirei 5 na prova de Phyton

In [ ]:
y = 10; z = 20 + x - y
print ('Declarar várias variáveis na mesma linha: ', y, z)

Declarar várias variáveis na mesma linha:  10 15

Type

In [ ]:
x = 10
type (x)
print ('x', type (x))

nome = "isabella"
print ('nome', type (nome))

num = '100'
num_convert = int(num)    # Converter variável
print('num', type (num))
print('num_convert', type (num_convert))

num_float = float(num)
print('num_float', num_float)

x <class 'int'>
nome <class 'str'>
num <class 'str'>
num_convert <class 'int'>
num_float 100.0

Input
*   Armazenar a informação digitada pelo usuário em uma variável
*   O dado armazenado sempre será um texto

In [ ]:
nome = input ("Digite o nome do usuário") # Aguardar o usuário digitar algo
print(nome)

Digite o nome do usuário Isabella
 Isabella

In [ ]:
valor = input('Digite a nota ')
print(nome, 'sua nota foi', valor)

Digite a nota 7
 Isabella sua nota foi 7

In [ ]:
valor = input('Digite o valor do produto:')
print(valor)

Digite o valor do produto:100
100

In [ ]:
valor_convert = int(valor)
desconto = valor_convert - 5
print(desconto)

95

In [ ]:
desconto = int(valor) - 5
print(desconto)

95

Condicional

In [ ]:
# If
if 5 < 10:
  print('Verdade')

Verdade

In [ ]:
# If/else
num1 = 10
num2 = 5
if num1 > num2:
  print ('O num1 é o maior número')

else:
    print('O num2 é o maior número')

O num1 é o maior número

In [ ]:
# If/ Elif / Else
num1 = 10
num2 = 10
if num1 > num2:
   print('O num1 é o maior número')
elif num1 < num2:
   print('O nun2 é o maior número')
else:
   print('Os dois são iguais')

Os dois são iguais

Condicional com operadores lógicos

In [ ]:
num1 = 10
num2 = 5
num3 = 2
if (num1 > num2) and (num1 > num3):
  print('O num1 é o maior número')
elif num1 < num2:
  print ('O num2 é o maior número')
else:
  print('Os dois são iguais')

O num1 é o maior número

Condicional com operadores lógicos

In [ ]:
num1 = 10
num2 = 5
num3 = 2
if (num1 > num2) and (num1 > num3):
  print('O num1 é o maior número')
else:
  print ('O num1 não é o maior número')

O num1 é o maior número

Listas, tuplas e dicionários

In [ ]:
# Lista
[1,2,3,4,5]

In [ ]:
# Tupla
(1,2,3,4,5)

In [ ]:
# Dicionário
{'num1': 1, 'num2': 2}

Lista

In [ ]:
lista = [5, 'isabella', 8,9]

In [ ]:
type (lista)

list

In [ ]:
lista.append("Augusto") # Adicionar um elemento na lista

In [ ]:
print(lista)
print(lista[1])

[5, 'isabella', 8, 9, 'Augusto', 'Augusto']
isabella

Tupla

In [ ]:
tupla = (5, 'isabella', 8,9)

In [ ]:
type(tupla)

tuple

In [ ]:
print(tupla)

(5, 'isabella', 8, 9)

Dicionário

In [ ]:
dicionario = {'nome': 'isabella', 'cidade': 'Recife'}

In [ ]:
type(dicionario)

dict

In [ ]:
print(dicionario["nome"])

isabella

In [ ]:
dicionario['ultimo nome'] = 'Alves'

In [ ]:
print(dicionario)

{'nome': 'isabella', 'cidade': 'Recife', 'ultimo nome': 'Alves'}

For

In [ ]:
# For Range
for contador in range(10):
  print (contador)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# For Range + Break
for contador in range (1000):
  print (contador)
  if contador == 2:
    break

0
1
2

In [ ]:
lista = ["Teste1", "Teste2"]

In [ ]:
#For Simples
for val in lista:
  print(val)

Teste1
Teste2

In [ ]:
#for com Enumarate
for i, val in enumerate(lista):
  print(i, val)

0 Teste1
1 Teste2

For com operadores compostos

In [ ]:
lista2 = [2, 3, 4]

In [ ]:
for val in lista2:
  val += 1
  print(val)

3
4
5

In [ ]:
for val in lista2:
  val *= 1
  print(val)

2
3
4

While

In [ ]:
val = 1
while (val > 6):
  val *=2
  print(val)

In [ ]:
# While com else
val = 4
while val < 6:
  val *=2
else:
  print ('Valor de val é:', val)

Valor de val é: 8

In [ ]:
nome = input("Digite seu nome:") # Obtém o nome do usuário
print("Olá," + nome + "!")

Digite seu nome:isabella
Olá,isabella!

In [ ]:
# Verificação de senha simples

# Definir a senha permitida
senha_permitida="12345"

# Solicitar a senha do usuário
senha_usuario = input("Digite a senha: ")

# Verificar se a senha está correta
if senha_usuario == senha_permitida:
  print("Acesso permitido!")
else:
  print("Senha incorreta. Acesso negado.")

Digite a senha: 12345
Acesso permitido!

In [ ]:
frutas = ["maçã", "banana", "laranja", "uva"]

In [ ]:
frutas[0]

'maçã'

In [ ]:
# Organizando dados de feedback de clientes
# Lista de feedbacks
feedbacks = ["Ótimo serviço!", "Produto excelente", "Atendimento rápido"]
# Dicionário com informações de um cliente
cliente = {
     "nome": "Maria",
     "idade": 28,
     "feedback": "Muito satisfeita"
}
# Imprimir os feedbacks da lista
print("Feedbacks dos clientes:")
for feedback in feedbacks:
  print("- " + feedback)
# Imprimir informações do cliente
print("\nInformações do cliente:")
print("Nome:", cliente["nome"])
print("Idade:", cliente["idade"])
print("Feedback:", cliente["feedback"])

Feedbacks dos clientes:
- Ótimo serviço!
- Produto excelente
- Atendimento rápido

Informações do cliente:
Nome: Maria
Idade: 28
Feedback: Muito satisfeita

In [ ]:
contador = 0
while contador < 5:
 print("Isso é a iteração número", contador)
contador += 1

In [ ]:
frutas = ["maçã", "banana", "laranja"]
for fruta in frutas:
  print("Eu gosto de", fruta)

Eu gosto de maçã
Eu gosto de banana
Eu gosto de laranja

In [ ]:
# Lista de notas dos alunos
notas = [85,92,78,90,88]

In [ ]:
# Calcula a média das notas
soma = 0
for nota in notas:
  soma+=nota
  media = soma / len (notas)

In [ ]:
# # Classifica os alunos com base na média
alunos_aprovados = []
alunos_reprovados = []
for nota in notas:
  if nota >= media:
    alunos_aprovados.append(nota)
  else:
      alunos_reprovados.append(nota)

In [ ]:
# Imprime os resultados
print("Notas dos alunos:", notas)
print("Média das notas:", media)
print("Alunos aprovados:", alunos_aprovados)
print("Alunos reprovados:", alunos_reprovados)

Notas dos alunos: [85, 92, 78, 90, 88]
Média das notas: 86.6
Alunos aprovados: [92, 90, 88]
Alunos reprovados: [85, 78]

In [ ]:
# Solicita o nome do usuário e o exibe
nome_usuario = input("Por favor, insira seu nome: ")
print(f"Olá, {nome_usuario}! Bem-vindo ao nosso sistema.")

# Solicita a idade do usuário e converte para inteiro
idade_usuario = int(input("Por favor, insira sua idade: "))

# Verifica se o usuário é maior de idade
if idade_usuario >= 18:
    print("Você é maior de idade.")
else:
    print("Você é menor de idade.")

Por favor, insira seu nome: isabella
Olá, isabella! Bem-vindo ao nosso sistema.
Por favor, insira sua idade: 31
Você é maior de idade.

In [ ]:
if True:
 print("Indentação correta")

Indentação correta

In [ ]:
x = 10
if x == 10:
    print("Operador correto")

Operador correto

In [ ]:
idade = int(input("Digite sua idade: "))
if idade > 18:
    print("Maior de idade")

Digite sua idade: 31
Maior de idade

In [ ]:
total = 0
total = total + 1
print(total)

1

In [ ]:
idade = 20
renda = 3000
if (idade > 18 and renda > 2000) or idade < 25:
  print ("Aprovado")

Aprovado